.everything-h {
  background-color: #4e727d;
  margin-top: 0;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navBar-link {
  color: white;
  margin-left: 1.4%;
  text-decoration: none;
  transition: 200ms;
}

.navBar-link:hover {
  color: aquamarine;
}

.navBar-button {
  margin-right: 25px;
}

.navImage {
  width: 15%;
}

.pv-icon {
  margin-left: 1%;
  position: initial;
}

.buttons-nav {
  width: 22%;
  margin-left: 72%;
}
