.focus-title {
  text-align: center;
  color: white;
  font-size: 147px;
  font-family: fa;
}

.everything {
  height: 100vh;
}

.sobreMim {
  height: 100vh;
  background-image: url(../images/backgroundNew.png);
}

.second-focus-title {
  text-align: center;
  color: white;
  margin-top: -6%;
  font-size: 50px;
  font-family: cherry; 
}

.little-text {
  color: white;
  margin-top: 10%;
  margin-left: 20%;
}

.button-projetos-div {
    margin-top: 5%;
    margin-left: 40%;
}

.button-projetos {
  margin-bottom: -50%;
  border: 4px solid transparent;
  background: linear-gradient(#305fb8, #2b5381) padding-box,
  linear-gradient(to top, #11998e, #3878ef) border-box;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.911);
  padding: 4% 2% 4% 2%;
  transition: 100ms;
  border-radius: 100%;
}

.button-projetos:hover {
    background-color: #2b2c2e;
    border: 4px solid white;
    color: white;
}